<h2>Dziękujemy za przesłanie opinii!</h2>
<br/>
<br/>
<form>
    <button asp-controller="Home" asp-action="Index" class="btn btn-primary">Strona główna</button>
    <button asp-controller="Opinion" asp-action="Index" class="btn btn-primary">Powrót do dodawania opinii</button>
</form>